@import "tailwindcss";


html {
  user-select: none;
  -webkit-user-drag: none;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-image: radial-gradient(#542A82 0%, #11071F 20%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #62497d;
}
::-webkit-scrollbar-thumb{
  background-color: #420484;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #6200ca;
}